* {
  box-sizing: border-box;
}

body {
  height: 100%;
  font-family: "Trebuchet MS", sans-serif;
}

.block {
  display: inline-block;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.column {
  float: left;
  padding: 10px;
}

.full {
  width: 100%;
}

div.block {
  display: inline-block;
  vertical-align: text-top;
}

div.float {
  float:left;
}

div.control {
  margin-top:15px;
}

div.para {
  margin-top:20px;
  margin-bottom:20px;
}

button.small {
  min-height: 35px;
  font-family: inherit;
}

input.control {
  width: 80%;
}

input.control.intervention {
  width: 93.5%;
  margin-left: 5.5%;
  margin-right: 1%;
}

.small {
  font-size: 16px;
}

.tiny {
  font-size: 14px;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 150px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
